/*https://codepen.io/enxaneta/full/adLPwv*/

*{
    padding: 0;
    margin: 0px;
}
.gallery{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap:15px;

}
img{
    width: 300px;
}

