.btn-modern{
    width: 100px;
    height: 50px;
    background-color: rgb(9, 158, 218);
    border: none;
    border-radius: 5px;
}

.btn-modern:hover{
    transform: translateY(-5px);
    /* box-shadow: X Y radio de desenfoque radio de extension color; */
    box-shadow: 4px 4px 5px 0 rgb(255, 0, 0);
    background-color: rgb(223, 185, 13);
    transition-duration: 0.4s;
}

.container .btn-modern::before{
    content: "Buscar";
    
}

.container .btn-modern:hover::before{
    content: "Aceptar";
    
}