body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.btn-tooltip{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #aa1433;
    color: #ffffff;
    border-bottom:3px double #ff9f22;
    transition: background-color 1s;
}

.btn-tooltip:hover{
    background-color: #32aa14;
    border-bottom:3px double #2b80f0;
}

.btn-tooltip:hover::before{
    content: "Esto es un tooltips ";
}