
.contenedor{
    width: 100vw;
    height: 50vh;
    background-color: #aa3311;
    display: flex;
    flex-direction: column;
}


.main-section{
    width: 150px;
    height: 100px;
    background-color: #ec37dd;
    flex-grow: 3;
}
.lateral-bar{
    background-color: #01fc0e;
    width: 300px;
    height: 100px;
    align-self: flex-end;
}
a{
    display: block;
}


@media (min-width:640px){

    .contenedor{
        width: 100vw;
        height: 50vh;
        background-color: #aa3311;
        display: flex;
        flex-direction: row;
    }

    .lateral-bar{
        background-color: cyan;
        width: 50vw;
    }
    a{
        display: inline;
    }
     

   
}