h3{
    color: white;
    font: bold 24px/29px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

label{
    color: white;
    font: bold 15px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.fa.fa-twitter{
    font-size: 1.5em;
    color: #a3a3a3;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-color: #161717;
}

.google-btn{
    background-color: #1A73E8;
    border: none;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.google-btn picture img{
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 3px;
}
.google-btn span{
    color: #ffffff;
    padding: 10px;
}

.botons{
    display: flex;
}
.twitter-btn{
    
    background-color: #f2f2f2;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-left: 15px;
}

.separator{
    display: flex;
}
.separator hr{
    width: 190px;
    margin-left: 15px;
    margin-right: 15px;
    
}

/* inicio campos de name y username*/
.container-btn {
    display: flex;
    justify-content: center;
}

.name{
    margin: 20px;
    
}

.container-btn .name input[type="text"]{
    width: 200px;
    height: 30px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: #212121;
    outline: none;
    color: white;
}

.container-btn .name input[type="text"]:hover{
    background-color: #454045;
    box-shadow: 3px 3px 15px 2px #F5B5CE, -3px -3px 15px 2px #F5B5CE;
}

.container-btn .username input[type="text"]{
    width: 200px;
    height: 30px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: #212121;
    outline: none;
    color: white;
}

.container-btn .username input[type="text"]:hover{
    box-shadow: 0 0 15px 2px #F5B5CE, 0 0 15px 2px #F5B5CE;
}

.name[type="text"]{
    margin: 20px;
    width: 200px;
    height: 40px;
}

.username{
    margin: 20px;
}

.container-btn .name input[type="text"]:focus{
    border: 2px solid #F5B5CE;
}

.container-btn .username input[type="text"]:focus{
    border: 2px solid #F5B5CE;
}
/* fin campos de name y username*/

/*contenedor de email y de password*/
.container-email-password{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.container-email-password button[type="submit"]{
    display: inline;
    width: 200px;
    height: 40px;
}

/*input de email*/
.container-email-password input[type="email"]{
    border: none;
    background-color: #212121;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    color: white;
}

.container-email-password input[type="email"]:hover{
    box-shadow: 3px 3px 15px 2px #F5B5CE, -3px -3px 15px 2px #F5B5CE;
}

.container-email-password label input[type="email"]:focus{
    border: 2px solid #F5B5CE;
}

/*input de password*/
.container-email-password input[type="password"]{
    border: none;
    background-color: #212121;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    color:white;
}

.container-email-password input[type="password"]:hover{
    box-shadow: 3px 3px 15px 2px #F5B5CE, -3px -3px 15px 2px #F5B5CE;
}

.container-email-password  input[type="password"]:focus{
    border: 2px solid #F5B5CE;    
}

.container-email-password button[type="submit"]{
    background-color: #EA4C89;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font:bold 15px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.container-email-password button[type="submit"]:hover{
    background-color: #ea4c899c;
    
}

