@import "componentes";
::selection{
    background-color: #0052FF;
    color: #fff;
}
body{
    padding: 0;
    margin: 0;
    font-family: CoinbaseSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 5rem;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    background-color: #fff;

}

.main-menu{
    li{
        list-style: none;
        display: inline;
        font-size: 1.3rem;
        padding: 0.50rem;
    }
    a{
        text-decoration: none;
        color: #000;
        &:hover{
            color: #000;
            border-bottom:1px solid #0052FF;
        }
    }
}

.logo{
    img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 6.5rem;
        margin-top: -.5rem;
    }
    
}

.get-startred{
    display: flex;
    margin-top: -.5rem;

    .btn-main{
        margin: 0;
        font-size: .8rem;
        border: none;
        background-color: #fff;
        width: 5.5rem;
        height: 2rem;
        
        &:hover{
            color: #0052FF;
        }

        &-s{
            background-color: #0052FF;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            font-size: .8rem;
            width: 5rem;
            height: 2rem;
        }

    }

}

.sec-home{
    display: flex;
    width: 100%;
    padding: 1.5rem;
    align-items: center;
    max-width: 768px;
    margin: auto;
    .home-cta{
        flex: 1;
        margin-top: 3rem;
    }

    .bi.bi-currency-bitcoin{
        color: #0052FF;
    }

    .bi.bi-arrow-right{
        color: #0052FF;
    }

    img{
        height: 25rem;
        padding: 5rem;
    }
    a{
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }

    .home-title{
        width: 15rem;
        font-size: 2.5rem;
    }

    .home-description{
        font-size: .9rem;
    }

    .lead-magnet{
        display: flex;

        .btn-main{
            margin-left: .30rem;
            border: none;
            border-radius: 3px;
            background-color: #0052FF;
            color: #ffffff;
            font-size: .6rem;
            width: 5rem;
        }
    }

}

.container-table{
    display: flex;
    width: 100%;
    padding: 1.5rem;
    align-items: center;
    max-width: 768px;
    margin: auto;

   .green{
        color: #138A58;
    }
    .red{
        color: #CF202F;
    }
}

.container{
    display: flex;
    justify-content: center;
    
    .currency{
        display: flex;
        width:100%;
        
        &:nth-child(1){
            height: 4.5rem;
            
        }
        &:nth-child(2){
            height: 4.5rem;

        }

        &:nth-child(3){
            height: 4.5rem;

        }

        &:nth-child(4){
            height: 4.5rem;

        }

        &:hover{
            /* offset-x | offset-y | blur-radius | spread-radius | color */
            box-shadow: 0 0 10px 3px #0051ff;
            opacity: 0.9;
            transition: 500ms ease 0s, opacity 500ms ease 0s, z-index 0s ease-out 500ms;
            z-index: 1000;
        }
       
        
    }

    .list{
        margin-left: 5rem;


        p{
            color: #138A5D;
            margin: 0 0 0 10rem;
            padding:0 0 0 0;
        }

        

    }
    a{
        text-decoration: none;
        color: #0052FF;
    }

}

.head-middle{
    text-align: center;
    margin-top: 3rem;
    
    h3{
        font-size: 3rem;
    }
}

.graph{
    display: flex;
    justify-content: center;
    margin-top: 4rem;

    .text-1{
        margin-left: 3rem;
        margin-top: -3rem;
    }
    .text-2{
        margin-left: 3rem;
        margin-top: -3rem;
    }
    .text-3{
        margin-left: 3rem;
        margin-top: -3rem;
    }
    .text-4{
        margin-left: 3rem;
        margin-top: -3rem;
    }

    .img{
        margin-left: 2rem;
    }
    i{
        font-size: 2rem;
        color: #0051ff;

    }

}

.sec-benefits{
    display: flex;
    justify-content: center;

    .storage{
        margin-right: 3.5rem;

        i{
            font-size: 3rem;
            margin-left: 40%;
            color: #0051ff;
        }

        .description{
            .title{
                margin-left:2rem;
            }

            .text{
                text-align: center;
            }.text-a{
                margin-top: 4rem;
            }
        }
        a{
            text-decoration: none;
            color: #0051ff;
        }
    }

    .secure{
        margin-right: 3rem;

        span{
            font-size: 3rem;
            margin-left: 40%;
            color: #0051ff;
            margin-top: 1rem;
        }

        .description{

            .title{
                margin-left:3rem;
            }

            .text{
                text-align: center;
            }
        }
        a{
            text-decoration: none;
            color: #0051ff;
        }
    }

    .industry{
        margin-right: 3rem;

        i{
            font-size: 3rem;
            margin-left: 40%;
            color: #0051ff;
        }

        .description{

            .text{
                text-align: center;
            }
            .text-a{
                margin-top: 5rem;
            }
        }
        a{
            text-decoration: none;
            color: #0051ff;
        }
    }

}

.numbers{
    display: flex;
    background-color: #0051ff;
    justify-content:center;
    margin-top: 10rem;

    .volumen{
        width: 25rem;
        margin-right: 7rem;
        padding: 3rem 1rem 1rem 2rem;
        h2{
            color: #fff;
            font-size: 3rem;
        }
        p{
            color: #9FBEFF;
        }
    }

    .pais{
        width: 15rem;
        padding: 3rem 1rem 1rem 2rem;
        h2{
            color: #fff;
            font-size: 3rem;
        }
        p{
            color: #9FBEFF;
        }
    }
    .user{
        width: 15rem;
        margin-left: 7rem;
        padding: 3rem 1rem 1rem 2rem;
        h2{
            color: #fff;
            font-size: 3rem;
        }
        p{
            color: #9FBEFF;
        }
    }
}

.icons{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    .cuenta{
        margin-right: 8rem;
        span{
            font-size: 4rem;
            margin-left: 2.7rem;
            color: #0051ff;
        }

    }
    .bank{
        span{
            font-size: 4rem;
            margin-left: 5rem;
            color: #0051ff;
        }
    }
    .start{
        margin-left: 8rem;
        span{
            font-size: 4rem;
            margin-left: 5.5rem;
            color: #0051ff;
        }
    }
}

.start-earn{
    display: flex;
    justify-content: space-between;
    margin-top: 7rem;
    background-color: #aaaaaa13;
    button{
        background-color: #0051ff;
        color: #fff;
        padding: .5rem;
        border: none;
        border-radius: .25rem;
    }

    .cripto{
        position: relative;
        left: 15rem;
        padding: 2rem;
    }
}

.sec-footer-cta{
    display: inline;
    margin-top: 7rem;
    background-color: #e31818aa;
    .lang{
        background-color: red;
        margin-right: 5rem;
        ul{
            li{
                list-style: none;
                display:inline;
                padding: .3rem;
            }
        }
    }

    .group-list{
        display: flex;
        justify-content: space-around;
    }
    img{
        width: 7rem;
    }
    .list-1{
        list-style: none;
    }
}

