$main-color:#0175fe;
$spotify-color:#1ed760;
// @mixin btn-base {
//     padding: 0.25rem 1.5rem;
//     border-radius: 0.25rem;
// }
// @mixin btn-sm-modify {
//     font-size: 0.75rem;
//     padding: 0.1rem 1rem;
//     @include btn-base();
// }

// .btn-main{
//     @include btn-base();
//     background-color: $main-color;
//     color: #ffffff;
//     border: none;
//     border: solid 1px $main-color;

//     &:hover{
//         background-color: #fff;
//         color: $main-color
//     }

//     &-s{
//         @extend .btn-main;
//         font-size: 0.75rem;
//         padding: 0.1rem 1rem;
//         @include btn-sm-modify();
//     }
// }

// .btn-sec{
//     @include btn-base();
//     padding-top: 0.40rem;
//     background-color: transparent;
//     color: $main-color;
//     @include btn-sm-modify();
    
//     &:hover{
//         background-color: #fff;
//         color: $spotidy-color;
//         border: solid 1px $spotidy-color;
//     }

//     &-s{
//         @extend .btn-main;
//         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
//     }
// }

// .main-menu{
//     li{
//         list-style: none;
//         display: inline;
//         font-size: 0.95rem;
//         padding: 0.50rem;
//     }
// }

// .icon-sm{
//     i{
//         font-size: 1rem;
//         padding: 0.4rem 0.65rem;
//         border-radius: 50%;
//         box-shadow: 0 0 10px #000000;
//     }
// }

// .feature{
//     display: flex;
//     flex-direction: column;

//     .icon{
//         color: $main-color;
//         font-size: 8rem;
//         text-align: center;
//     }
//     .description{
//         .title{
//             text-align: center;
//             font-size: 1rem;
//         }

//         .text{
//             color: #999;
//             font-weight: 600;
//             text-align: center;
//         }
//     }

//     .cta{
//         color: $main-color;
//         font-weight: 600;
//         margin-top: 3rem;
//         text-align: center;
//     }
// }


// .icon-desc{
//     display: flex;
//     flex-direction: column;
//     .icon{
//         color: $main-color;
//         font-size: 8rem;
//         padding: 0;
//         text-align: center;
//     }
//     .title{
//         font-size: 1.5rem;
//         font-weight: 600;
//         text-align: center;
//     }
// }