::-moz-selection {
  background-color: #0052FF;
  color: #fff;
}

::selection {
  background-color: #0052FF;
  color: #fff;
}

body {
  padding: 0;
  margin: 0;
  font-family: CoinbaseSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 5rem;
  border-bottom: 1px solid #ddd;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.main-menu li {
  list-style: none;
  display: inline;
  font-size: 1.3rem;
  padding: 0.5rem;
}
.main-menu a {
  text-decoration: none;
  color: #000;
}
.main-menu a:hover {
  color: #000;
  border-bottom: 1px solid #0052FF;
}

.logo img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 6.5rem;
  margin-top: -0.5rem;
}

.get-startred {
  display: flex;
  margin-top: -0.5rem;
}
.get-startred .btn-main {
  margin: 0;
  font-size: 0.8rem;
  border: none;
  background-color: #fff;
  width: 5.5rem;
  height: 2rem;
}
.get-startred .btn-main:hover {
  color: #0052FF;
}
.get-startred .btn-main-s {
  background-color: #0052FF;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  width: 5rem;
  height: 2rem;
}

.sec-home {
  display: flex;
  width: 100%;
  padding: 1.5rem;
  align-items: center;
  max-width: 768px;
  margin: auto;
}
.sec-home .home-cta {
  flex: 1;
  margin-top: 3rem;
}
.sec-home .bi.bi-currency-bitcoin {
  color: #0052FF;
}
.sec-home .bi.bi-arrow-right {
  color: #0052FF;
}
.sec-home img {
  height: 25rem;
  padding: 5rem;
}
.sec-home a {
  text-decoration: none;
}
.sec-home a:hover {
  text-decoration: underline;
}
.sec-home .home-title {
  width: 15rem;
  font-size: 2.5rem;
}
.sec-home .home-description {
  font-size: 0.9rem;
}
.sec-home .lead-magnet {
  display: flex;
}
.sec-home .lead-magnet .btn-main {
  margin-left: 0.3rem;
  border: none;
  border-radius: 3px;
  background-color: #0052FF;
  color: #ffffff;
  font-size: 0.6rem;
  width: 5rem;
}

.container-table {
  display: flex;
  width: 100%;
  padding: 1.5rem;
  align-items: center;
  max-width: 768px;
  margin: auto;
}
.container-table .green {
  color: #138A58;
}
.container-table .red {
  color: #CF202F;
}

.container {
  display: flex;
  justify-content: center;
}
.container .currency {
  display: flex;
  width: 100%;
}
.container .currency:nth-child(1) {
  height: 4.5rem;
}
.container .currency:nth-child(2) {
  height: 4.5rem;
}
.container .currency:nth-child(3) {
  height: 4.5rem;
}
.container .currency:nth-child(4) {
  height: 4.5rem;
}
.container .currency:hover {
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0 0 10px 3px #0051ff;
  opacity: 0.9;
  transition: 500ms ease 0s, opacity 500ms ease 0s, z-index 0s ease-out 500ms;
  z-index: 1000;
}
.container .list {
  margin-left: 5rem;
}
.container .list p {
  color: #138A5D;
  margin: 0 0 0 10rem;
  padding: 0 0 0 0;
}
.container a {
  text-decoration: none;
  color: #0052FF;
}

.head-middle {
  text-align: center;
  margin-top: 3rem;
}
.head-middle h3 {
  font-size: 3rem;
}

.graph {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.graph .text-1 {
  margin-left: 3rem;
  margin-top: -3rem;
}
.graph .text-2 {
  margin-left: 3rem;
  margin-top: -3rem;
}
.graph .text-3 {
  margin-left: 3rem;
  margin-top: -3rem;
}
.graph .text-4 {
  margin-left: 3rem;
  margin-top: -3rem;
}
.graph .img {
  margin-left: 2rem;
}
.graph i {
  font-size: 2rem;
  color: #0051ff;
}

.sec-benefits {
  display: flex;
  justify-content: center;
}
.sec-benefits .storage {
  margin-right: 3.5rem;
}
.sec-benefits .storage i {
  font-size: 3rem;
  margin-left: 40%;
  color: #0051ff;
}
.sec-benefits .storage .description .title {
  margin-left: 2rem;
}
.sec-benefits .storage .description .text {
  text-align: center;
}
.sec-benefits .storage .description .text-a {
  margin-top: 4rem;
}
.sec-benefits .storage a {
  text-decoration: none;
  color: #0051ff;
}
.sec-benefits .secure {
  margin-right: 3rem;
}
.sec-benefits .secure span {
  font-size: 3rem;
  margin-left: 40%;
  color: #0051ff;
  margin-top: 1rem;
}
.sec-benefits .secure .description .title {
  margin-left: 3rem;
}
.sec-benefits .secure .description .text {
  text-align: center;
}
.sec-benefits .secure a {
  text-decoration: none;
  color: #0051ff;
}
.sec-benefits .industry {
  margin-right: 3rem;
}
.sec-benefits .industry i {
  font-size: 3rem;
  margin-left: 40%;
  color: #0051ff;
}
.sec-benefits .industry .description .text {
  text-align: center;
}
.sec-benefits .industry .description .text-a {
  margin-top: 5rem;
}
.sec-benefits .industry a {
  text-decoration: none;
  color: #0051ff;
}

.numbers {
  display: flex;
  background-color: #0051ff;
  justify-content: center;
  margin-top: 10rem;
}
.numbers .volumen {
  width: 25rem;
  margin-right: 7rem;
  padding: 3rem 1rem 1rem 2rem;
}
.numbers .volumen h2 {
  color: #fff;
  font-size: 3rem;
}
.numbers .volumen p {
  color: #9FBEFF;
}
.numbers .pais {
  width: 15rem;
  padding: 3rem 1rem 1rem 2rem;
}
.numbers .pais h2 {
  color: #fff;
  font-size: 3rem;
}
.numbers .pais p {
  color: #9FBEFF;
}
.numbers .user {
  width: 15rem;
  margin-left: 7rem;
  padding: 3rem 1rem 1rem 2rem;
}
.numbers .user h2 {
  color: #fff;
  font-size: 3rem;
}
.numbers .user p {
  color: #9FBEFF;
}

.icons {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}
.icons .cuenta {
  margin-right: 8rem;
}
.icons .cuenta span {
  font-size: 4rem;
  margin-left: 2.7rem;
  color: #0051ff;
}
.icons .bank span {
  font-size: 4rem;
  margin-left: 5rem;
  color: #0051ff;
}
.icons .start {
  margin-left: 8rem;
}
.icons .start span {
  font-size: 4rem;
  margin-left: 5.5rem;
  color: #0051ff;
}

.start-earn {
  display: flex;
  justify-content: space-between;
  margin-top: 7rem;
  background-color: rgba(170, 170, 170, 0.0745098039);
}
.start-earn button {
  background-color: #0051ff;
  color: #fff;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
}
.start-earn .cripto {
  position: relative;
  left: 15rem;
  padding: 2rem;
}

.sec-footer-cta {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
}
.sec-footer-cta .lang ul li {
  list-style: none;
  display: inline;
  padding: 0.3rem;
}
.sec-footer-cta .group-list {
  display: flex;
}
.sec-footer-cta img {
  width: 7rem;
}/*# sourceMappingURL=index.css.map */